<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div id="app">
    <p v-if="isLoading">loading</p>
    <h2>Shopping Cart</h2>
    <p v-if="!cart.length">No item in cart</p>
    <div class="cart">
      <div class="item" v-for="(item, index) in cart">
        <div class="image">
          <a v-bind:href="item.url">
            <img v-bind:src="item.image" />
          </a>
        </div>
        <div class="info">
          <h4>{{ item.name }}</h4>
          <p class="seller">by {{ item.seller}} </p>
          <p class="status available" v-if="item.isAvailable">In Stock</p>
          <p class="shipping" v-if="item.isEligible">Eligible for FREE Shipping & FREE Returns</p>
          <a href="#" v-on:click="removeFromCart(index)">Delete</a>
          <a href="#" class="secondary" v-on:click="saveForLater(index)">Save for later</a>
        </div>
      </div>
    </div>

    <h2>Saved for later ({{saved.length}})</h2>
    <p v-if="!saved.length">No item in saveForLater</p>
    <div class="cart">
      <div class="item" v-for="(item, index) in saved">
        <div class="image">
          <a v-bind:href="item.url">
            <img v-bind:src="item.image" />
          </a>
        </div>
        <div class="info">
          <h4>{{ item.name }}</h4>
          <p class="seller">by {{ item.seller}} </p>
          <p class="status available" v-if="item.isAvailable">In Stock</p>
          <p class="shipping" v-if="item.isEligible">Eligible for FREE Shipping & FREE Returns</p>
          <a href="#" v-on:click="removeFromSavedList(index)">Delete</a>
          <a href="#" class="secondary" v-on:click="moveToCart(index)">Move to cart</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>